include LICENSE
include README.md
include requirements.txt
include MANIFEST.in
recursive-include easyfinetuner *.py
recursive-include easyfinetuner/templates *.py
recursive-include examples *.py
recursive-include parameters *.md *.txt
recursive-include assets *.png *.jpg *.jpeg *.gif
